---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import Hr from "@/components/Hr.astro";
import Card from "@/components/Card.astro";
import Socials from "@/components/Socials.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE, SOCIALS } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <h1 class="my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
        JZLeetCode
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="mb-6 inline-block sm:mb-0"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="mb-2 h-6 w-6 scale-110 fill-accent sm:mb-3 sm:scale-125"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p class="my-2">
        High quality leet code solutions in Java, Python, C++, and Rust.
      </p>
      <p class="my-2">
        Comment in the Disqus section at the bottom of every post (you may have
        to refresh) if you have any questions. You can also share the solution on
        social media with the buttons at the bottom left of each post.
      </p>
      <p class="my-2">Please add a note that your reference or source is @JZLeetCode.</p>
      <p class="my-2">
        Social links for BuyMeCoffee and Discord server is below and at the
        bottom right of every post. Donations and discussions are greatly
        appreciated and welcomed.
      </p>
      <p class="my-2">
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="about"
        >
          About
        </LinkButton> for more info.
      </p>
      {
        socialCount > 0 && (
          <div class="mt-4 flex max-sm:flex-col sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section
            id="featured"
            class:list={[
              "pt-12 pb-6",
              { "border-b border-border": recentPosts.length > 0 },
            ]}
          >
            <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
            <ul>
              {featuredPosts.map(post => (
                <Card {...post} variant="h3" />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (post, index) =>
                index < SITE.postPerIndex && <Card {...post} variant="h3" />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
