---
import type { Page } from "astro";
import LinkButton from "./LinkButton.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      class="mt-auto mb-8 flex justify-center"
      role="navigation"
      aria-label="Pagination Navigation"
    >
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        class:list={["me-4 select-none", { "opacity-50": !page.url.prev }]}
        aria-label="Goto Previous Page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block rtl:rotate-180"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
        Prev
      </LinkButton>
      {page.currentPage} / {page.lastPage}
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        class:list={["ms-4 select-none", { "opacity-50": !page.url.next }]}
        aria-label="Goto Next Page"
      >
        Next
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block rtl:rotate-180"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M19 12l-14 0"></path>
          <path d="M19 12l-6 6"></path>
          <path d="M19 12l-6 -6"></path>
        </svg>
      </LinkButton>
    </nav>
  )
}
