---

---

<div id="disqus_thread"></div>
<!--https://webdesign-sopelnik.de/en/blog/adding-comments-to-your-astro-blog-with-disqus/-->
<script is:inline>
  if (!window.DisqusWidget) {
    window.DisqusWidget = {
      overwriteGlobalSelectors: function () {
        this.isLoaded= false;
        window.$disqus = document.querySelector('#disqus_thread')
      },
      init: function () {
        this.overwriteGlobalSelectors()
        this.addListeners()
      },
      addListeners: function () {
        // early escape if $disqus not exists
        if (window.$disqus === null) return;
        // After language switched
        document.addEventListener('astro:after-swap', () => {
          this.overwriteGlobalSelectors();
        });
        document.addEventListener("scroll", () => {
          let curScroll = document.documentElement.scrollTop;
          if (!this.isLoaded && curScroll > window.$disqus.getBoundingClientRect().top - 300) {
            console.log('triggered ' + curScroll);
            this.initDisqus();
            this.isLoaded = true;
          }
        });
      },
      initDisqus: () => {
        // Reset DISQUS, Rather than loading new embed.js
        if (window.DISQUS) {
          window.DISQUS.reset({
            reload: true
          })
          return
        }

        (function () { // DON'T EDIT BELOW THIS LINE
          const d = document, s = d.createElement('script');
          s.src = 'https://jzzcoding.disqus.com/embed.js';
          s.setAttribute('data-timestamp', String(+new Date()));
          (d.head || d.body).appendChild(s);
        })();
      }
    }

    window.DisqusWidget.init()
  }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
